body{
    text-align: start;    
    padding: 10px 8px 12px 8px;
}

#header{
    text-align: center;
}

#header p{
    margin-top: -20px;
    margin-bottom: 60px;
}
               
#container{    
    display: flex;
    flex-direction: column;
    gap: 30px;
}

label{
    font-weight: 600;
    font-size:1.1rem
}

input{
    border:none;  
   width: 100%;    
    font-size:1.1rem;  
}

#endereco, #numero_residencia{
    font-size:1.2rem;
}

.box{
    display: flex;
    justify-content: start;
    align-items: center;  
    gap: 10px;
}


#endereco-ordem{   
    display: flex;
    gap:10px;
    align-items: center;
}

#assinatura{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#linhaAssinatura{
    width:300px; 
    text-align:left; 
    margin-top:20px;
    margin-bottom: -10px;
}

