
body{
    text-align: start;    
    padding: 10px 8px 10px 8px;
}

#header{
    text-align: center;
}

#header p{
    margin-top: -20px;
    margin-bottom: 50px;
}
               
#container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    font-weight: 600;
}

input{
    border:1px solid rgba(128, 128, 128, 0.692);
    border-radius: 5px;
    height: 20px;
    width: 100%;    
    padding-left: 7px;
    padding-top: 8px;
    font-size:1rem;
}

#boxNascimento{
    display: flex;
    flex-direction: column;
    width: 170px;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 20px;
}

.campos{
    width: 100%;
}

#numResidencia{
    width: 80px;
}

#boxLaudo{
    display: flex;
    gap:25px
}

#convenio{
    width: 250px;
}

#assinatura{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#linhaAssinatura{
    width:300px; 
    text-align:left; 
    margin-top:20px;
    margin-bottom: -10px;
}


